.TableManager {
  &__title {
    color: red;
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  &__button {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
}
