.Customer {
  &__title {
    display: flex;
    justify-content: center;
    color: red;
    padding: 20px;
    margin: 0;
  }

  &__table {
    width: 80%;
    margin: 0 auto;
  }

  &__button {
    margin: 20px 80% 20px 10%;
    padding: 10px 20px;
  }

  @media (max-width: 768px) {
    &__button {
      display: flex;
      margin: 20px auto;
    }
  }
}
