.status-active {
    color: green;
    font-weight: bold;
}

.status-banned {
    color: red;
    font-weight: bold;
}

.custom-link {
    color: black;
    text-decoration: none;
}

.custom-button {
    color: black;
    text-decoration: none;
}

.custom-link:hover {
    color: black;
    text-decoration: underline;
}

.custom-button:hover {
    color: black;
    text-decoration: underline;
}

.three-dots {
    color: black;
}