.staff-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.staff-form .form-control,
.staff-form .form-select {
    border-radius: 5px;
}

.button-container {
    text-align: right;
}
